# Binary files
*.class

# IDEA files
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear

# Data file
data.dat
commit_*

# 
**/target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
